/* Imports */
@import url(../css/blog-page.css);
@import url(../css/header.css);
@import url(../css/footer.css);

/* All */

* {
    font-size: 1.2rem;
}

/* Body */

body {
    background-color: #f8f8ff;
}

/* Heading */
.heading {
    text-transform: uppercase;
}

/* Posts */

/* External Grid start */
.recent-posts {
    text-align: center;
    background-color: #011229;
    color: white;
    padding: 4vh; 
}

.posts{
    display: grid;
    grid-template-columns: 90vw;
    grid-template-rows: auto;
    grid-template-areas: 
    "p1"
    "p2";
    justify-content: center;
}

.posts h3{
    text-align: center;
    background-color: #012E4E;
    color: white;
    padding: 1em;
    border-bottom: 4px solid black;
    border-radius: 3px;
}

.posts a {
    background-color: #012E4E ;
    border-radius: 2px;
    border: 1px solid black;
    padding: 0.5em;
    margin-right: 1.5em;
    max-width: 50%;
    align-self: flex-end;
    margin-bottom: 1em;
}

.posts a {
    color: white;
    text-decoration: none;
}

#post-one {
    grid-area: p1;   
}

#post-two {
    grid-area: p2;   
}

#post-three {
    display: none;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 1em;
    /* padding-bottom: 1em; */
    background-color: whitesmoke;
    /* border: 1px solid #012E4E; */

}

.card img {
    max-width: 20%;
    align-self: center;
    border-radius: 50%;
    border: 5px solid black;
}


 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }



 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .posts{
        display: grid;
        grid-template-columns: 40vw 40vw;
        grid-template-rows: auto;
        grid-template-areas: 
        "p1 p1"
        "p2 p3";
        justify-content: center;
        gap: 0 1em;
    }

    #post-three {
        display: flex;
        grid-area: p3;
    }

    
    
 }

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }
