/* All */

/* Heading */
.heading {
    text-transform: uppercase;
}




/* HEADER */
/* Header Style */
header {
    display: flex;
    flex-direction: column;
    max-height: 45vh;
    text-align: center;
    background-color: #011229;
    color: white;
    text-transform: uppercase;
    /* border: 2px solid black; */
}

header h1 {
    padding: 0.2em;
}

header img {
    max-width: 100%;
    height: 35vh;
    object-fit: cover;
    border: 2px solid black;
    display: block;
}


/* Footer */

footer {
    max-width: 100%;
    height: 10vh;
    text-align: center;
    background-color: #011229;
    color: white;
    text-transform: uppercase;
    margin-top: 1em;
}

/* Posts */

/* External Grid start */
.recent-posts {
    text-align: center;
    background-color: #011229;
    color: white;
    padding: 4vh; 
}

.posts{
    display: grid;
    grid-template-columns: 90vw;
    grid-template-rows: auto;
    grid-template-areas: 
    "p1"
    "p2";
    justify-content: center;
}

.posts h3{
    text-align: center;
    background-color: #012E4E;
    color: white;
    padding: 1em;
    border-bottom: 4px solid black;
    border-radius: 3px;
}

.posts button {
    background-color: #012E4E ;
    border-radius: 2px;
    border: 1px solid black;
    padding: 0.5em;
    float: right;
    margin-right: 1.5em;
    /* align-self: right; */
}

.posts a {
    color: white;
    text-decoration: none;
}

#post-one {
    grid-area: p1;   
}

#post-two {
    grid-area: p2;   
}

#post-three {
    display: none;
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .posts{
        display: grid;
        grid-template-columns: 40vw 40vw;
        grid-template-rows: auto;
        grid-template-areas: 
        "p1 p1"
        "p2 p3";
        justify-content: center;
        gap: 0 1em;
    }

    #post-three {
        display: block;
        grid-area: p3;
    }
    
 }

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }

/* External Grid End */

/* .post {
    margin: 1em;
} */
